<div class="principal-container">
    <div class="container_bar">
    </div>

    <div class="container_classrooms">
        <div class="card">
            <div class="card-image">
                <div class="card-image_status">
                    <div class="status-block">
                        <img src="../../../assets//iconsStatus/accept.png" class="status" alt="">
                    </div>
                </div>
                <img src="../../../assets//clases.jpg" alt="">
            </div>
            <div class="card-info">
                <div class="card-info_classroom">
                    <h3 class="">E1</h3>
                </div>
                <div class="card-info_teacher">
                    <span class="">Medina Castro Karen Itxell</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="card-image_status">
                    <div class="status-block">
                        <img src="../../../assets//iconsStatus/accept.png" class="status" alt="">
                    </div>
                </div>
                <img src="../../../assets//clases.jpg" alt="">
            </div>
            <div class="card-info">
                <div class="card-info_classroom">
                    <h3 class="">E1</h3>
                </div>
                <div class="card-info_teacher">
                    <span class="">Medina Castro Karen Itxell</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="card-image_status">
                    <div class="status-block">
                        <img src="../../../assets//iconsStatus/close.png" class="status" alt="">
                    </div>
                </div>
                <img src="../../../assets//clases.jpg" alt="">
            </div>
            <div class="card-info">
                <div class="card-info_classroom">
                    <h3 class="">E1</h3>
                </div>
                <div class="card-info_teacher">
                    <span class="">Medina Castro Karen Itxell</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="card-image_status">
                    <div class="status-block">
                        <img src="../../../assets//iconsStatus/accept.png" class="status" alt="">
                    </div>
                </div>
                <img src="../../../assets//clases.jpg" alt="">
            </div>
            <div class="card-info">
                <div class="card-info_classroom">
                    <h3 class="">E1</h3>
                </div>
                <div class="card-info_teacher">
                    <span class="">Medina Castro Karen Itxell</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="card-image_status">
                    <div class="status-block">
                        <img src="../../../assets//iconsStatus/warning.png" style="height: 65px; width: 65px;" class="status" alt="">
                    </div>
                </div>
                <img src="../../../assets//clases.jpg" alt="">
            </div>
            <div class="card-info">
                <div class="card-info_classroom">
                    <h3 class="">E1</h3>
                </div>
                <div class="card-info_teacher">
                    <span class="">Medina Castro Karen Itxell</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="card-image_status">
                    <div class="status-block">
                        <img src="../../../assets//iconsStatus/accept.png" class="status" alt="">
                    </div>
                </div>
                <img src="../../../assets//clases.jpg" alt="">
            </div>
            <div class="card-info">
                <div class="card-info_classroom">
                    <h3 class="">E1</h3>
                </div>
                <div class="card-info_teacher">
                    <span class="">Medina Castro Karen Itxell</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="card-image_status">
                    <div class="status-block">
                        <img src="../../../assets//iconsStatus/accept.png" class="status" alt="">
                    </div>
                </div>
                <img src="../../../assets//clases.jpg" alt="">
            </div>
            <div class="card-info">
                <div class="card-info_classroom">
                    <h3 class="">E1</h3>
                </div>
                <div class="card-info_teacher">
                    <span class="">Medina Castro Karen Itxell</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <div class="card-image_status">
                    <div class="status-block">
                        <img src="../../../assets//iconsStatus/accept.png" class="status" alt="">
                    </div>
                </div>
                <img src="../../../assets//clases.jpg" alt="">
            </div>
            <div class="card-info">
                <div class="card-info_classroom">
                    <h3 class="">E1</h3>
                </div>
                <div class="card-info_teacher">
                    <span class="">Medina Castro Karen Itxell</span>
                </div>
            </div>
        </div>

    </div>
</div>